// @font-face {
//   font-family: 'MyNumberFont';
//   src: url('/src/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
//   unicode-range: U+0030-0039;
// }

// @font-face {
//   font-family: 'Noto_Sans_TC';
//   src: url('/src/assets/fonts/Noto_Sans_TC/NotoSansTC-Bold.otf') format('opentype'),
//   url('/src/assets/fonts/Noto_Sans_TC/NotoSansTC-Medium.otf') format('opentype'),
//   url('/src/assets/fonts/Noto_Sans_TC/NotoSansTC-Regular.otf') format('opentype');
// }
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Noto+Sans+TC:wght@400;500;700&display=swap');

html {
  font-size: 16px;
  height: 100%;
}

body {
  font-family: 'Noto Sans TC';
  height: 100%;
  // box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

h1 {
  font-size: 68px;
  font-weight: bold;
  line-height: 78px;
}

h2 {
  font-size: 42px;
  font-weight: bold;
  line-height: 52px;
}

h3 {
  font-size: 28px;
  font-weight: bold;
  line-height: 26px;
}

h4 {
  font-size: 24px;
  font-weight: bold;
  line-height: 26px;
}

h5 {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}

.second-font {
  font-size: 14px;
}

.second-font-bold {
  font-size: 14px;
  font-weight: 500;
}

.third-font {
  font-size: 12px;
}

.third-font-bold {
  font-size: 12px;
  font-weight:500;
}

button {
  border: none;
  cursor: pointer;
}

input {
  border: none;
  background: transparent;
  padding: 0;
}

input:focus {
  outline: none;
}

::placeholder {
  color: #B5B5BE;
}

.swal_z {
  z-index: 9999;
}